<p id="notice"><%= notice %></p>

<h1>Runs</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Distance</th>
      <th>Cars</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @runs.each do |run| %>
      <tr>
        <td><%= run.name %></td>
        <td><%= run.price %></td>
        <td><%= run.distance %></td>
        <td><%= run.cars_id %></td>

        <% if session[:user_id] %>
        <td><%= link_to 'Show', run , :class => "btn btn-info "  %></td>
        <td><%= link_to 'Edit', edit_run_path(run) , :class => "btn btn-warning"  %></td>
        <td><%= link_to 'Destroy', run, method: :delete, data: { confirm: 'Are you sure?' } , :class => "btn btn-danger"  %></td>
      <% end %>
            </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Run', new_run_path  , :class => "btn btn-primary" %>



<%= column_chart @runs.group(:cars_id).count , xtitle: "numer auta", ytitle: "ilość tras"  %>