<p id="notice"><%= notice %></p>
<div class="text-justify">
<p>
  <strong>Name:</strong>
  <%= @run.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @run.price %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @run.distance %>
</p>

<p>
  <strong>Cars:</strong>
  <%= @run.cars_id %>
</p>
</div>
<%= link_to 'Edit', edit_run_path(@run) , :class => "btn btn-warning" %>
<%= link_to 'Back', runs_path , :class => "btn btn-primary" %>
