<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @run.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @run.price %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @run.distance %>
</p>

<p>
  <strong>Cars:</strong>
  <%= @run.cars_id %>
</p>

<%= link_to 'Edit', edit_run_path(@run) %> |
<%= link_to 'Back', runs_path %>
