<%= form_for(ran) do |f| %>
  <% if ran.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ran.errors.count, "error") %> prohibited this ran from being saved:</h2>

      <ul>
      <% ran.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

    <div class="field">
      <%= f.select :cars_id, Car.all.collect { |p| [ p.name, p.id ] } %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
