<p id="notice"><%= notice %></p>

<h1>Rans</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cars</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rans.each do |ran| %>
      <tr>
        <td><%= ran.name %></td>
        <td><%= ran.cars %></td>
        <td><%= link_to 'Show', ran %></td>
        <td><%= link_to 'Edit', edit_ran_path(ran) %></td>
        <td><%= link_to 'Destroy', ran, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ran', new_ran_path %>
