<p id="notice"><%= notice %></p>

<h1>Cars</h1>



    <% @cars.each do |car| %>


      <div class="text-justify col-md-5 well " style="height: 300px;  margin-right: 20px ;  overflow-y: auto; ">
        <h2 class=""><%=  car.name  %></h2>
        <h6 class="">Rok produkcji: <b><%= car.year%></b></h6>
        <h4 class=""><%= car.description %></h4>

      <br>


      <% if session[:user_id] %>
          <div class="text-right">
            <%= link_to 'Show', car , :class => "btn btn-info "  %>
            <%= link_to 'Edit', edit_car_path(car),  :class => "btn btn-warning "  %>
            <%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger "  %>
          </div>
      <% end %>

      </div>

    <% end %>


